.jumbotron {
    height: 10% !important;
    text-align: center;
    padding-top: 2%;
    background-color: skyblue;
    color: black;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 10px silver;
}
body {
    background-color: black;
}
.container {
    width: 960px;
    max-width: 90%;
    border: solid 3px silver;
    border-radius: 1%;
}

.col-1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-right: solid 3px silver;
    text-align: center;
    background-color: white;
}

.hourRow {
    border: solid 3px silver;
}

.btnSave {
    color: white;
    background-color: greenyellow;
}

.before {
    background-color: white;
    color: black;
}

.currentHour {
    background-color: red;
    color: black;
}

.after {
    background-color: greenyellow;
    color: black;
}

button {
    background-color: skyblue !important;
}

textarea {
    background-color: transparent;
}